#elm-container {
    width: 100vw;
    height: 100vh;
}

#game-chat-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#chat-container {
    flex: 1 1 auto;
    min-height: 20em;
    background-color: #85144b;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
}

#chat-container li {
    margin: 0;
}

#chat-list-box {
    margin: 0 0 0.5em 0;
    background-color: white;
    padding: 0.5em 0;
    border-radius: 0.2em;
    overflow: hidden;
    flex: 1 1 auto;
}

#chat-list {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    list-style: none;
    padding: 0 0.5em;
    margin: 0;
    height: 100%;
}

span.rank-leader {
    padding: 0.1em;
    border-radius: 0.2em;
}
span.rank-leader.team-blue {
    color: white;
    background-color: #0074D9;
}
span.rank-leader.team-red {
    color: white;
    background-color: #FF4136;
}
span.rank-fingerman,
span.rank-leader {
    font-weight: bold;
}
span.team-blue {
    color: #0074D9;
}
span.team-red {
    color: #FF4136;
}

#lobby-container, #game-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	padding: 1em;
}

#lobby-container {
    height: 100%;
}

#game-container > * {
    max-width: 1200px;
    width: 100%;
}

#top-bar {
    display: flex;
}

#top-bar > div {
    align-self: center;
}

#top-bar > div > label,
#hint-display {
    margin: 0 0.2em;
    padding: 0.5em;
    font-size: 16pt;
}

#hint-display {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 0.2em;
    background-color: #AAAAAA;
    flex: 1 1 auto;
    cursor: unset;
}

#hint-display.hint-blue {
    background-color: #0074D9;
}

#hint-display.hint-red {
    background-color: #FF4136;
}

button.game-button {
    background-color: #B10DC9;
}

.button.word-label:hover {
    border: 2px solid #B10DC9;
}

.button.word-label.color-b {
    color: #0074D9;
}

.button.word-label.color-r {
    color: #FF4136;
}

.button.word-label.color-x {
    color: white;
    background-color: #111111 !important;
}

.button.word-label.color-n {
    color: #FF851B;
}

.button.word-label.touched {
    background-color: white;
    border-color: #AAAAAA;
    background: none;
    text-shadow: 0 0 2px white;
}

.color-u {
}

#word-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 0.5em -0.3em;
}

.button.word-label {
    display: block;
    color: #111111;
    background-color: #dddddd;
    border: 2px solid white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0;
}

#word-list > label {
    margin: 0.2em;
}

#hint-input, #touch-buttons {
    display: flex;
	align-content: space-between;
}

#hint-input {
    justify-content: space-between;
}

#touch-buttons {
    justify-content: center;
}

#touch-buttons button,
#hint-input button,
#hint-input input {
    margin: 0.3em;
}

#hint-count {
    width: 6em;
}

#game-container.team-blue {
    background-color: #729fcf;
}

#game-container.team-red {
    background-color: #f2777a;
}

#game-over .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 0;
    border-radius: 0;
    background: rgba(17,17,17,0.8);
    transition: all 0.3s;
    z-index: 99;
}

#game-over .message {
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%) scale(1,1);
    text-align: center;
    background: none;
    font-family: 'EB Garamond', serif;
    z-index: 100;
    text-shadow: 0px 0px 1em black;
}

#game-over h1 {
    font-size: 5em;
    padding: 0;
}

.modal {
    color: black;
}

@media all and (max-width: 600px) {
	#hint-input {
		flex-wrap: wrap;
	}
	#hint-word {
		width: 100%;
	}
	#lobby-container, #game-container {
		padding: 0.5em;
	}
    #game-chat-container {
        flex-direction: column;
    }
}
