/* .container, main, #elm-container, #lobby-container, #game-container {
   height: 100vh;
   } */

#elm-container {
    width: 100vw;
    height: 100vh;
}

#lobby-container, #game-container {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	padding: 1em;
}

#game-container > * {
    max-width: 1200px;
}

.button.word-label {
    display: block;
    color: #111111;
    background-color: #e7e7e7;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

button.game-button {
    background-color: #B10DC9;
}

.button.word-label:hover {
    border: 2px solid #B10DC9;
}

.button.word-label.color-b {
    color: #0074D9;
}

.button.word-label.color-r {
    color: #FF4136;
}

.button.word-label.color-x {
    color: white;
    background-color: #111111 !important;
}

.button.word-label.color-n {
    color: #FF851B;
}

.color-u {
}

#hint-display {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 0.2em;
    background-color: #AAAAAA;
}

#hint-display.hint-blue {
    background-color: #0074D9;
}

#hint-display.hint-red {
    background-color: #FF4136;
}

#word-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 0.5em 0;
}

#word-list > li {
    list-style: none;
    display: block;
    margin: 0 0.3em;
}

#hint-input, #touch-buttons {
    display: flex;
    justify-content: center;
	width: 100%;
	align-content: space-between;
}

#touch-buttons button,
#hint-input button,
#hint-input input {
    margin: 0.5em;
}

#hint-count {
    width: 6em;
}

#game-container.team-blue {
    background-color: #729fcf;
}

#game-container.team-red {
    background-color: #f2777a;
}

@media all and (max-width: 500px) {
	#hint-input {
		flex-wrap: wrap;
	}
	#hint-word {
		width: 100%;
	}
	#lobby-container, #game-container {
		padding: 0.5em;
	}
}
