input[type=radio] {
    display: none;
}

.word-label {
    display: block;
    background-color: #e7e7e7;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

input[type=radio]:checked + label {
    background-color: #d0d0d0 !important;
}

input[type=radio]:hover + label {
    background-color: #ffffff;
    border-color: black;
}

.color-b {
    color: blue;
}

.color-r {
    color: red;
}

.color-x {
    color: white;
    background-color: black !important;
}

.color-n {
    color: orange;
}

.color-u {
}

table {
    table-layout: fixed;
    width: 100%;
}

.team-blue {
    background-color: light blue;
}

.team-red {
    background-color: light red;
}

.hint-blue {
    color: blue;
}

.hint-red {
    color: red;
}
